body {
  font-size: 10px;
  font-family: Montserrat;
  background-color: #FCFCFC;
}

/*.home {
  background-image: url('https://cloud.githubusercontent.com/assets/8038843/10412101/f5ad80e0-6f40-11e5-89e3-1d6fef6184ee.png');;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: contain;
}*/

body h1, body h2, body h3, body h4, body h5, body p {
  margin: 0;
}

body .container {
  width: auto;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}
h3 {
  color: #5968a5;
  text-align: center;
  padding: 25px 0;
  font-size: 1.6em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.4em;
  font-family: Lato;
}

.small {
  font-size: 1.2em;
}

.green {
  color: #16C75E;
}

a {
  color: white;
}

.top-buffer {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 2.4em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.6em;
  }
  .top-buffer {
    margin-top: 75px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.4em;
  }
  h5 {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 620px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

//Colors for Projects
.de-color {
  color: rgba(0, 159, 255, 0.5);
}
.de-background {
  background-color: rgba(0, 159, 255, 0.5);
}
.sp-color {
  color: rgba(255, 202, 0, 0.5);
}
.sp-background {
  background-color: rgba(255, 202, 0, 0.5);
}
.el-color {
  color: rgba(255, 53, 133, 0.5);
}
.el-background {
  background-color: rgba(255, 53, 133, 0.5);
}
.hi-color {
  color: rgba(255, 117, 0, 0.5);
}
.hi-background {
  background-color: rgba(255, 117, 0, 0.5);
}
.st-color {
  color: rgba(92, 185, 78, 0.5);
}
.st-background {
  background-color: rgba(92, 185, 78, 0.5);
}
.mtl-color {
  color: rgba(29, 146, 195, 0.75);
}
.mtl-background {
  background-color: rgba(29, 146, 195, 0.75);
}
.sw-color {
  color: rgba(255, 0, 0, 0.75);
}
.sw-background {
  background-color: rgba(255, 0, 0, 0.75);
}
.ft-color {
  color: rgba(37, 170, 225, 0.5);
}
.ft-background {
  background-color: rgba(37, 170, 225, 0.5);
}
.sg-color {
  color: rgba(133, 76, 160, 0.5);
}
.sg-background {
  background-color: rgba(133, 76, 160, 0.5);
}

.hero-home {
  height: 200px;
  /*background-image: url('https://cloud.githubusercontent.com/assets/8038843/10240472/075b2bee-68a2-11e5-8cec-eba35e010553.png');*/
  background-size: cover;
  background-position: center bottom;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9cb55+0,f9cb55+24,ffffff+100&amp;1+24,0+100 */
  background: -moz-linear-gradient(top,  rgba(249,203,85,1) 0%, rgba(249,203,85,1) 24%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,203,85,1)), color-stop(24%,rgba(249,203,85,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,203,85,1) 0%,rgba(249,203,85,1) 24%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,203,85,1) 0%,rgba(249,203,85,1) 24%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,203,85,1) 0%,rgba(249,203,85,1) 24%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,203,85,1) 0%,rgba(249,203,85,1) 24%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9cb55', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.hero-home h1 {
  padding: 10px 0 50px 10px;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  color: white;
}

.hero-home p {
  text-align: center;
  padding-top: 50px;
  font-family: Montserrat;
  font-size: 2em;
  color: white;
}

.hero-home hr {
  width: 60px;
  margin-top: 10px;
  border: 1px solid white;
}

.hero-home .links a {
  text-decoration: none;
}

.hero-home .links a:focus,
.hero-home .links a:active {
  outline: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.hero-home .links {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 284px;
  clear: both;
  padding-top: 20px;
}

.hero-home .links .navbar-collapse {
  float: left;
}

.hero-home .links .navbar-collapse button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 30px;
}

.hero-home .links a {
  padding: 0 18px;
  transition: .3s ease-in-out;
  font-size: 1.4em;
}

.hero-home .links a:hover {
  text-decoration: none;
  color: white;
  opacity: .5;
}

@media screen and (min-width: 640px) {
  .hero-home h1 {
    padding: 50px 100px 50px 100px;
    text-align: center;
    font-size: 4em;
  }
  .hero-home .links {
    width: 395px;
  }
}

@media screen and (min-width: 768px) {
  .hero-home {
    height: 200px;
  }
  .hero-home .wrapper {
    margin-right: 100px;
  }
  .hero-home .links a {
    padding: 0 30px;
  }
  .hero-home h1 {
    padding: 40px 20px 50px 20px;
  }
  .hero-home .links {
    width: 355px;
  }
}
@media screen and (min-width: 992px) {
  .hero-home {
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-home .wrapper {
    margin-right: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .hero-home .wrapper {
    margin-right: 500px;
  }
}

.col-home {
  padding-bottom: 50px;
}

.col-home img {
  width: 100%;
}

.col-home hr {
  border: 5px solid;
  margin: 0;
}

.col-home .wrapper a {
  display: inline-block;
  position: relative;
}

.col-home .wrapper a img {
  height: auto;
  width: 100%;
  opacity: .75;
}

.col-home .wrapper a .text {
  font-size: 1.8em;
  width: 70%;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 10px 20px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.col-home .wrapper a .text img {
  height: 12px;
  width: 38px;
  margin-left: 15px;
}

.col-home .wrapper a:first-of-type {
  background-color: black;
}








/* New Homepage */
.col-home a img {
  transition: .2s ease-in-out;
}
.col-home a:hover {
  text-decoration: none;
}
.col-home a:hover img {
  opacity: .5;
}
.col-home h1 {
  font-size: 4em;
  color: #FCFCFC;
  text-shadow:
    -1px -1px 0 #E6472C,  
    1px -1px 0 #E6472C,
    -1px 1px 0 #E6472C,
    1px 1px 0 #E6472C;
  line-height: 1.3em;
}
.col-home h2 {
  color: #FF3213;
  font-weight: bold;
  z-index: 1000;
  transition: .2s ease-in-out;
}
.col-home a:hover h2 {
  color: rgba(255, 50, 19, 0.5);
}
.col-home a:hover h4 {
  color: rgba(43, 226, 117, 0.5);
}
.col-home h3 {
  float: left;
  color: #16C75E;
  padding: 0;
}
.col-home h4 {
  color: #FF3213;
  font-weight: normal;
  margin: 5px 0 0 25px;
  transition: .3s ease-in-out;
  width: 150px;
}
.col-home .lg-green {
  color: #2be275;
  opacity: .5;
  font-size: 15em;
  font-weight: bold;
  margin: -160px 0 0 100px;
  font-family: Montserrat;
}
.col-home .link {
  height: 200px;
  width: 200px;
  display: block;
}
.col-home img {
  width: 200px;
}
.col-home .rotate-up {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.col-home .rotate-down {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}
.col-home .el .link {
  margin-left: 25px;
}
.col-home .el img {
  margin-top: -132px;
}
.col-home .el h3 {
  margin: 100px 0 0 -70px;
}
.col-home .de .project-link {
  margin-top: 250px;
}
.col-home .de .link {
  margin: -255px 0 0 25px;
}
.col-home .de h3 {
  margin: -127px 0 0 -75px;
}
.col-home .sp {
  margin-top: 125px;
}
.col-home .sp h3 {
  margin-bottom: 10px;
}
.col-home .sp .project-link {
  margin-top: 40px;
}
.col-home .hi {
  margin-top: 75px;
}
.col-home .hi h3 {
  margin: 100px 0 0 -100px;
}
.col-home .hi img {
  margin-top: -130px;
}
.col-home .hi .project-link {
  margin-left: -28px;
}
.col-home .st {
  margin-top: 75px;
}
.col-home .st h3 {
  margin-left: 200px;
}
.col-home .st img {
  margin-top: -35px;
}
.col-home .wip {
  margin-top: 100px;
  clear: both;
}
.col-home .wip h1 {
  color: #FFFFFF;
}
.col-home .ft h3 {
  margin: 100px 0 0 -75px;
}
.col-home .ft img {
  margin: -127px 0 0 30px;
}
.col-home .im {
  margin-top: 50px;
}
.col-home .im h3 {
  margin-bottom: 10px;
}
.col-home .im .project-link {
  margin-top: 45px;
}
.col-home .se {
  margin-top: 50px;
}
.col-home .se .project-link {
  margin-top: 205px;
}
.col-home .se a {
  margin-top: -255px;
}
.col-home .se h3 {
  margin: -150px 0 0 125px;
  width: 200px;
}
@media screen and (min-width: 768px) {
  /* ELECTROCUTIES SECTION */
  .col-home .el a {
    margin-top: 4px;
  }
  .col-home .el img {
    margin-top: -118px;
  }
  .col-home .el h3 {
    margin: 100px 0 0 -95px;
  }
  .col-home .el .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin-left: 120px;
    margin-top: -170px;
  }
  .col-home .el h4 {
    margin: 5px 0 0 130px;
  }
  /* DESIGN MATTERS SECTION */
  .col-home .de {
    margin-top: 100px;
  }
  .col-home .de h3 {
    margin-left: 120px;
    margin-top: -109px;
    width: 208px;
  }
  .col-home .de .link {
    margin: 0;
  }
  .col-home .de .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin: 30px 0 0 -120px;
  }
  .col-home .de h4 {
    margin: 5px 0 0 -25px;
  }
  /* SPREAD SECTION */
  .col-home .sp {
    margin-top: -75px;
  }
  .col-home .sp .project-link {
    margin: -50px 0 0 150px;
  }
  .col-home .sp h4 {
    margin: 5px 0 0 75px;
  }
  /* HI SECTION */
  .col-home .hi {
    margin-top: 75px;
  }
  .col-home .hi img {
    margin-top: -114px;
  }
  .col-home .hi h3 {
    margin: 90px 0 0 -125px;
  }
  .col-home .hi .project-link {
    margin: 10px 0 0 0;
  }
  /* 512STEW SECTION */
  .col-home .st {
    margin-top: 75px;
  }
  .col-home .st img {
    margin-top: -42px;
  }
  .col-home .st .project-link {
    margin: -100px 0 0 175px;
  }
  .col-home .st h4 {
    margin: 5px 0 0 50px;
  }
  /* WIP SECTION */
  .col-home .wip {
    margin-top: 200px;
  }
  /* FT APP SECTION */
  .col-home .ft {
    margin-top: 140px;
  }
  .col-home .ft img {
    margin: -110px 0 0 30px;
  }
  .col-home .ft h3 {
    margin: 100px 0 0 -95px;
  }
  .col-home .ft .project-link {
    margin: -150px 0 0 200px;
    width: 150px;
  }
  .col-home .ft h4 {
    margin: 5px 0 0 50px;
  }
  /* IMPROVE SETION */
  .col-home .im .project-link {
    margin: -125px 150px;
  }
  .col-home .im h4 {
    margin-left: 75px;
    width: 100px;
  }
  /* SERIE SECTION */
  .col-home .se {
    margin-top: 150px;
  }
  .col-home .se img {
    margin-top: -10px;
  }
  .col-home .se a {
    margin-top: 0;
  }
  .col-home .se .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin: 125px 0 0 -120px;
  }
  .col-home .se h4 {
    margin: 5px 0 0 -25px;
  }
}
@media screen and (min-width: 992px) {
  .col-home h1 {
    font-size: 5em;
  }
  .col-home h2 {
    font-size: 3.6em;
  }
  .col-home .lg-green {
    font-size: 20em;
    margin: -210px 0 0 125px;
  }
  .col-home .wip {
    margin-top: 200px;
  }
  .col-home .wip h1 {
    color: #FEFAEF;
  }
  .col-home .link {
    height: 300px;
    width: 300px;
    display: block;
    position: absolute;
  }
  .col-home img {
    width: 300px;
    position: relative;
    z-index: 1;
  }
  .col-home .el,
  .col-home .de,
  .col-home .sp,
  .col-home .hi,
  .col-home .st,
  .col-home .ft,
  .col-home .im,
  .col-home .se {
    height: 300px;
  }
  .col-home .el {
    margin-top: -100px;
  }
  .col-home .el h3 {
    margin-top: 175px;
  }
  .col-home .el h4 {
    margin-left: 180px;
    float: right;
  }
  .col-home .el img {
    margin-top: 0;
  }
  .col-home .el .link {
    margin-left: 140px;
  }
  .col-home .el .project-link {
    margin-left: 280px;
    margin-top: 50px;
  }
  .col-home .el h3 {
    margin: 199px 0 0 20px;
  }
  .col-home .de {
    margin-left: 33.33333333%;
    margin-top: 125px;
  }
  .col-home .de .project-link {
    margin-left: 31px;
  }
  .col-home .sp {
    margin-top: -250px;
  }
  .col-home .de {
    margin: 100px 0 100px -100px;
  }
  .col-home .de h2 {
    margin-left: 100px;
  }
  .col-home .de h3 {
    width: 248px;
    margin-left: 500px;
    margin-top: 110px;
  }
  .col-home .de h4 {
    margin-left: 50px;
  }
  .col-home .de img {
    margin-left: 300px;
  }
  .col-home .de .project-link {
    margin-top: 50px;
  }
  .col-home .sp {
    margin-top: -200px;
    margin-left: -50px;
  }
  .col-home .sp .link {
    margin-top: 35px;
  }
  .col-home .sp .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin-top: 200px;
    margin-left: 225px;
  }
  .col-home .sp h4 {
    margin-left: 100px;
  }
  .col-home .hi {
    margin: 0 0 0 125px;
  }
  .col-home .hi .link {
    margin-left: 400px;
  }
  .col-home .hi h3 {
    margin: 170px 0 0 255px;
  }
  .col-home .hi img {
    margin-top: 0;
  }
  .col-home .hi .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin-top: 300px;
    margin-left: 400px;
  }
  .col-home .st {
    margin-top: -50px;
    margin-left: 50px;
  }
  .col-home .st h3 {
    margin: 25px 0 0 290px;
  }
  .col-home .st .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin-top: 175px;
    margin-left: 230px;
  }
  .col-home .st h4 {
    margin-left: 100px;
  }
  .col-home .ft {
    margin-top: 225px;
  }
  .col-home .ft h3 {
    margin-top: 79px;
    margin-left: 80px;
  }
  .col-home .ft h4 {
    margin-left: 100px;
    width: 222px;
  }
  .col-home .ft .link {
    margin-left: 180px;
  }
  .col-home .ft .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin-left: 442px;
    margin-top: -50px;
  }
  .col-home .im {
    clear: both;
    margin: 0;
  }
  .col-home .im .link {
    margin-top: 35px;
  }
  .col-home .im .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin-top: 75px;
    margin-left: 225px;
  }
  .col-home .im h4 {
    margin-left: 100px;
    width: 222px;
  }
  .col-home .se {
    margin-top: -50px;
  }
  .col-home .se h2 {
    margin-left: 100px;
  }
  .col-home .se h3 {
    width: 248px;
    margin-left: 450px;
    margin-top: 60px;
  }
  .col-home .se h4 {
    margin-left: 50px;
  }
  .col-home .se a {
    margin-left: 250px;
  }
  .col-home .se img {
    margin-top: 0;
  }
  .col-home .se .project-link {
    float: right;
    z-index: 1000;
    position: absolute;
    margin: 175px 0 0 0;
  }
  .col-home .link {
    height: 300px;
    width: 300px;
  }
  .col-home img {
    width: 300px;
  }
  .col-home .st {
    margin-top: 0;
  }
  .col-home .st img {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .col-home .el h3 {
    margin: 178px 0 0 0px;
  }
  .col-home .de {
    margin: 50px 0 50px 450px;
  }
  .col-home .hi {
    margin: 100px 0 0 250px;
  }
  .col-home .hi .project-link {
    margin-top: 310px;
  }
  .col-home .sp {
    margin-top: -300px;
    margin-left: 0;
  }
  .col-home .se a {
    margin-left: 300px;
  }
  .col-home .se .project-link {
    margin-left: 50px;
  }
  .col-home .se h3 {
    margin-left: 500px;
    margin-top: 75px;
  }
  .col-home .ft .project-link {
    margin-left: 463px;
  }
  .col-home .ft .link {
    margin-left: 200px;
  }
  .col-home .ft h3 {
    margin-top: 55px;
  }
  .col-home .im {
    margin: 50px 0 0 100px;
  }
}

/* ABOUT ME Page */
.about .photo img {
  width: 100%;
  border-radius: 300px;
}
.about a {
  color: rgba(255, 50, 19, 0.75);
  transition: .3s ease-in-out;
}
.about a:hover {
  color: rgba(255, 50, 19, 0.25);
  text-decoration: none;
}
.about p {
  padding-top: 15px;
}
.about p:last-of-type {
  margin-bottom: 25px;
}
.about h3 {
  color: rgba(255, 50, 19, 0.75);
  padding: 10px 0;
}
.about hr {
  margin: 10px 0;
  border: 1px solid rgba(51, 51, 51, 0.5);
}
@media screen and (min-width: 768px) {
  .about .top-buffer {
    margin-top: 25px;
  }
  .about h3 {
    font-size: 1.6em;
  }
}

/* CONTACT SECTION */
#third {
  padding-top: 50px;
}
#third h1 {
  color: #FEF4DC;
}
#third p {
  padding-bottom: 20px;
}
#third h2 {
  text-align: center;
  padding-bottom: 25px;
}
#third h4 {
  text-align: center;
  margin: 10px auto;
  float: none;
  color: #333;
}
#third a {
  font-size: 1.4em;
  color: #FF3213;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  #second {
    padding-top: 175px;
  }
  #second img {
    margin-bottom: 100px;
  }
  #third {
    padding-top: 50px;
  }
}


.col-home .link-nav {
  margin: -126px auto 76px auto;
  width: 76%;
  position: relative;
}

.col-home .link-nav a {
  height: 50px;
  display: block;
}

.col-home .link-nav a p {
  color: white;
  padding: 0;
  margin: 13px 20px 0 0;
}

.col-home .link-nav a img {
  height: 14px;
  width: auto;
  float: right;
  margin: 18px 20px 0 0;
}

.col-home .link-nav:after {
  clear: both;
  width: 100%;
  content: '';
  display: block;
}