$design-matters: rgba(123, 192, 226, 1);
$design-matters-opaque: rgba(123, 192, 226, .75);

/*default version*/
@font-face {
	font-family: 'Mohave Bold';
	src: url('assets/mohave-bold.eot'); 
	src: 
		local('Mohave Bold'),
		local('Lovely-Font'),
		url('/assets/fonts/mohave-bold.otf') 
		format('opentype');
}
/*bold version*/
@font-face {
	font-family: 'lovelyFont';
	src: url('fonts/lovely_font_bold.eot'); 
	src: 
		local('Lovely Font Bold'),
		local('Lovely-Font-Bold'),
		url('fonts/lovely_font_bold.otf') 
		format('opentype');
	font-weight: bold;
}

$dark-gray: #4f4f4f;

body {
	font-family: Montserrat;
	font-size: 10px;
	h1, h2, h3, h4, h5, p {
		margin: 0;
	}
	h3 {
	}
	.type-xl {
		font-weight: 900;
		padding: 100px 0 0 0;
		text-align: center;
		font-size: 3em;
	}
	.container {
		width: auto;
	}
}

nav {
	background-color: rgb(243, 155, 63);
	color: white;
	a {
		color: white;
	}
}
.navbar-default {
	font-family: Questrial;
	background-color: rgb(240, 240, 240);
	.brand {

	}
	.active {
		color: rgba(226, 43, 8, 0.65);
	}
}
#main-nav {
	display: none;
}
#secondary-nav {
	.name {
		a, p {
			float: left;
			clear: both;
		}
		a {
			font-size: 2.6em;
		}
		p {
			font-size: 1.4em;
		}
	}
}




footer {
	margin-top: 150px;
}
.bg-about, .bg-home {
	background-size: cover;
	background-position: center;
	height: 350px;
	color: white;
	font-family: Questrial;
}
.bg-about {
	background-image: url('/assets/tableblur.png');
}
.bg-home {
	background-image: url('/assets/gradient.png');
}
.body-text {
	font-family: Alegreya;
}
h1 {
	margin: 0;
}
a:hover {
	text-decoration: none;
	color: white;
}
.title {
	margin:0 auto;
	width:300px;
	height:300px;
	border-radius: 150px;
	h3 {
		color: white;
		text-align: center;
		padding-top: 135px;
		font-family: Questrial;
	}
}
.title-dm {
	background-color: $design-matters-opaque;
}

.block {
	height: 300px;
	background-position: center;
	background-size: cover;
	padding: 0;
	.overlay {
		padding: 200px 0 0 40px;
		height: 300px;
		transition: .3s ease-in-out;
		.above {
			display: block;
			opacity: 1;
			transition: .25s ease-in-out;
		}
		h1 {
			transition: .25s ease-in-out;
			font-family: Roboto;
			font-weight: 100;
			font-size: 3.5em;
			color: black;
		}
		p {
			color: black;
		}
		.below {
			display: block;
			opacity: 0;
			transition: opacity .25s ease-in-out;
			margin-top: -20px;
		}
	}
	.overlay-dm {
		h1, p {
			color: #5DA0CE;
			color: #180E0C;
		}
	}
	.overlay-hi {
		h1, p {
			color: #EE431E;
		}
	}
	.overlay-ec {
		h1, p {
			color: rgb(213, 96, 100);
		}
	}
	.overlay-512 {
		h1, p {
			color: rgb(148, 187, 119);
		}
	}
	.overlay-spread {
		h1, p {
			color: rgb(153, 90, 59);
		}
	}
	.overlay-void {
		h1, p {
			color: rgb(122, 122, 122);
		}
	}
}
.lg-block {
	height: 600px;
	.overlay {
		height: 600px;
		padding: 500px 0 0 40px;
	}
}
.background-color {
	height: 300px;
	transition: .3s ease-in-out;
}
.background-color:hover {
	background-color: rgba(242, 112, 44, 1);
}
.block:hover {
	.above {
		opacity: 0;
	}
	h1 {
		transform: translateY(-21px)translateZ(0);
		color: white;
	}
	p {
		color: white;
	}
	.below {
		opacity: 1;
	}
	.overlay-hi {
		background-color: rgba(242, 112, 44, 0.75);
	}
	.overlay-dm {
		background-color: rgba(91, 204, 251, 0.75);
	}
	.overlay-void {
		background-color: rgba(0, 0, 0, 0.75);
	}
	.overlay-ec {
		background-color: rgba(239, 92, 118, 0.75);
	}
	.overlay-spread {
		background-color: rgba(147, 87, 59, 0.75);
	}
	.overlay-512 {
		background-color: rgba(148, 196, 122, 0.75);
	}
}

.top-buffer {
	margin-top: 100px !important;
}

.block-sm {
	height: 298.250px;
	background-position: center;
	background-size: cover;
	.block-text {
		transition: .3s ease-in-out;
		background-color: transparent;
		width: 100%;
		height: 90%;
		margin-top: 15px;
		h3, h5, a {
			color: transparent;
			transition: .5s ease-in-out;
			text-align: center;
		}
		h5 {
			font-weight: 400;
			padding: 50px 0 25px 0;
		}
		a {
			h5 {
				border: 1px solid transparent;
				padding: 10px;
				width: 60%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 60px;
			}
		}
	}
}
.block-sm:hover .block-text {
	background-color: rgba(65, 69, 71, 0.7);
	h3, h5 {
		color: white;
	}
	a {
		h5 {
			color: #fee01a;
			border: 1px solid #fee01a;
			transition: .3s all ease-in-out;
		}
	}
	a:hover {
		h5 {
			background-color: #fee01a;
			color: rgba(65, 69, 71, 1);
		}
	}
}
.block-lg {
	height: 626.5px;
	background-position: center;
	background-size: cover;
	.block-text {
		transition: .3s ease-in-out;
		background-color: transparent;
		width: 100%;
		height: 95%;
		margin-top: 15px;
		h3, h5, a {
			color: transparent;
			transition: .5s ease-in-out;
			text-align: center;
		}
		h3 {
			font-weight: 700;
			font-size: 1.8em;
		}
		h5 {
			font-weight: 400;
			padding: 50px 0 25px 0;
		}
		a {
			h5 {
				border: 1px solid transparent;
				padding: 10px;
				width: 60%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 60px;
			}
		}
	}
}
.block-lg:hover .block-text {
	background-color: rgba(65, 69, 71, 0.7);
	h3, h5 {
		color: white;
	}
	a {
		h5 {
			color: #fee01a;
			border: 1px solid #fee01a;
			transition: .3s all ease-in-out;
		}
	}
	a:hover {
		h5 {
			background-color: #fee01a;
			color: rgba(65, 69, 71, 1);
		}
	}
}

.image-full {
	img {
		width: 100%;
	}
	.margin-btm {
		margin-bottom: 125px;
	}
}
.last-image {
	padding-bottom: 200px;
}
.text-block {
	margin-top: 125px;
	margin-bottom: 125px;
	h3 {
		margin-bottom: 25px;
		color: $dark-gray;
		text-align: center;
	}
	p {
		font-family: Lato;
		text-align: left;
		font-size: 1.1em;
		line-height: 1.4em;
	}
}
#blackOverlay {
	margin-top: -50px;
	height: 750px;
	h1, h3, h5 {
		color: white;
	}
	.circle {
		width: 300px;
		height: 300px;
		border-radius: 150px;
		padding: 80px 0 0 60px;
		margin: 200px auto 0 auto;
		h3 {
			padding-bottom: 15px;
			font-size: 2.6em;
		}
		h5 {
			font-size: 1em;
		}
	}
	.circle-de {
		background-color: rgba(0, 161, 255, 0.5);
	}
	.circle-hi {
		background-color: rgba(238, 67, 29, 0.75);
		h1 {
			padding-top: 25px; 
		}
	}
	.circle-spread {
		background-color: rgba(15, 10, 11, 0.75);
	}
}

#sideMenu {
    display: none;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 500px;
    left: 40%;
    margin-right: auto;
    margin-left: auto;
    background: white;
    z-index: 1;
    padding: 20px 30px;
    box-shadow: rgba(84, 84, 84, 0.2) 0px 0px 10px;
    height: 100px;
    font-family: Questrial;
    hr {
    	margin: 10px 0 15px 0;
    }
    li {
    	transition: ease-in-out all .1s;
    	font-size: 1em;
    	font-weight: 100;
    	padding: 0 25px 20px 25px;
    	float: left;
    	a {
	    	color: #BFBFBF;
	    	text-decoration: none;
	    	transition: ease-in-out all .3s;
	    	i {
	    		color: transparent;
	    		transition: ease-in-out all .2s;
	    		margin-right: 5px;
	    	}
	    }
    }
    li:first-of-type {
    	padding-left: 0;
    }
    li:hover {
    	a {
    		color: #4f4f4f;
    	}
    }
    .active a {
    	color: #4f4f4f;
    	i {
    		color: #4f4f4f;
    	}
    }
}

.side-nav {
	width: 100%;
	background-color: white;
	height: 1000px;
	padding: 0;
	font-family: Questrial;
	li {
		padding: 8px 20px;
	}
	h3 {
		padding: 50px 30px 20px 20px;
		font-size: .9em;
	}
}

.hero .hero-succulent {
	background-image: url('/assets/suc-5.png');
	height:400px;
	background-size: cover;
	background-position: center;
}