h2 {
	font-size: 2.2em;
}
h3 {
	color: #FF5700;
	text-align: center;
	padding: 25px 0;
	font-size: 1.8em;
}
p {
	font-size: 1.2em;
}
.container {
	max-width: 320px;
}
@media screen and (min-width: 640px) {
	.container {
		max-width: 620px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 740px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 960px;
	}
}
@media screen and (min-width: 1400px) {
	.container {
		max-width: 1200px;
	}
}
.link {
	font-size: 1.6em;
	p {
		float: right;
		padding-right: 15px;
	}
	.arrow-right {
		background-image: url('/assets/arrow-right.png');
		background-size: cover;
		float: right;
		height: 12px;
		width: 40px;
	}
}
.hero-home {
	height: 400px;
	background-color: #FF5700;
	color: white;
	h1 {
		padding: 80px 20px 50px 20px;
	}
	p {
		color: white;
	}
	.arrow-right {
		margin-right: 20px;
		margin: 6px 20px 0 0;
	}
}
.col-home {
	img {
		width: 100%;
		opacity: .7;
	}
	a {
		h2 {
			padding-top: 10px;
			color: #FF5700;
		}
	}
	hr {
		border: 5px solid;
		margin: 0;
	}
	.dm {
		hr {
			color: rgba(0, 159, 255, 0.5);
		}
	}
	.sp {
		hr {
			color: rgba(255, 202, 0, 0.5);
		}
		.color {
			background-color: black;
			height: 205px;
		}
	}
	.el hr {
		color: rgba(255, 0, 0, 0.5);
	}
	.st hr {
		color: rgba(92, 185, 78, 0.5);
	}
	.hi hr {
		color: rgba(255, 117, 0, 0.5);
	}
	h2 {
		margin-bottom: 5px;
	}
	p {
		padding-bottom: 35px;
	}
	.link-nav {
		margin: -126px auto 76px auto;
		width: 76%;
		position: relative;
		a {
			height: 50px;
			display: block;
			p {
				color: white;
				padding: 0;
				margin: 13px 20px 0 0;
			}
			img {
				height: 14px;
				width: auto;
				float: right;
				margin: 18px 20px 0 0;
			}
		}
	}
	.link-nav:after {
		clear: both;
		width: 100%;
		content: '';
		display: block;
	}
}