
body .type-xl {
  font-weight: 900;
  padding: 100px 0 0 0;
  text-align: center;
  font-size: 3em;
}

.navbar-default {
  font-family: Montserrat;
  background-color: #f0f0f0;
}

.navbar-default .active {
  color: rgba(226, 43, 8, 0.65);
}

#main-nav {
  display: none;
}

#secondary-nav .name a, #secondary-nav .name p {
  float: left;
  clear: both;
}

#secondary-nav .name a {
  font-size: 2.6em;
}

#secondary-nav .name p {
  font-size: 1.4em;
}

footer {
  margin-top: 150px;
}

.bg-about, .bg-home {
  background-size: cover;
  background-position: center;
  height: 350px;
  color: white;
  font-family: Montserrat;
}

.title {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.title h3 {
  color: white;
  text-align: center;
  padding-top: 135px;
  font-family: Montserrat;
}

.title-dm {
  background-color: rgba(123, 192, 226, 0.75);
}

.image-full img {
  width: 100%;
}

.image-full .margin-btm {
  margin-bottom: 125px;
}

.last-image {
  padding-bottom: 200px;
}

#sideMenu {
  display: none;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 500px;
  left: 40%;
  margin-right: auto;
  margin-left: auto;
  background: white;
  z-index: 1;
  padding: 20px 30px;
  box-shadow: rgba(84, 84, 84, 0.2) 0px 0px 10px;
  height: 100px;
  font-family: Montserrat;
}

#sideMenu hr {
  margin: 10px 0 15px 0;
}

#sideMenu li {
  transition: ease-in-out all 0.1s;
  font-size: 1em;
  font-weight: 100;
  padding: 0 25px 20px 25px;
  float: left;
}

#sideMenu li a {
  color: #BFBFBF;
  text-decoration: none;
  transition: ease-in-out all 0.3s;
}

#sideMenu li a i {
  color: transparent;
  transition: ease-in-out all 0.2s;
  margin-right: 5px;
}

#sideMenu li:first-of-type {
  padding-left: 0;
}

#sideMenu li:hover a {
  color: #4f4f4f;
}

#sideMenu .active a {
  color: #4f4f4f;
}

#sideMenu .active a i {
  color: #4f4f4f;
}

.side-nav {
  width: 100%;
  background-color: white;
  height: 1000px;
  padding: 0;
  font-family: Montserrat;
}

.side-nav li {
  padding: 8px 20px;
}

.side-nav h3 {
  padding: 50px 30px 20px 20px;
  font-size: .9em;
}
