.footer {
  padding: 75px 25px 50px 25px;
  text-align: center;
  font-family: Montserrat;
}

.footer a {
  padding: 0 10px;
}

.footer a i {
  font-size: 2.2em;
  color: rgba(255, 50, 19, 0.75);
  transition: .3s ease-in-out;
}

.footer p {
  color: rgba(60, 60, 60, 0.75);
  font-size: 1.2em;
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 150px 0 75px 0;
  }
  .footer a:hover i {
    color: rgba(255, 50, 19, 0.25);
  }
}