.home {
	h3 {
		font-family: Raleway;
		font-size: 2.4em;
	}
	.spread {
		img {
			width: 100%;
		}
		.txt-block {
			background-color: rgba(201, 12, 12, 0.64);
			margin-top: -225px;
			margin-left: 275px;
			padding: 10px 20px;
			position: absolute;
			h3 {
				font-family: Questrial;
				font-size: 4em;
				color: rgba(255, 255, 255, 0.85);
			}
			h5 {
				color: rgba(255, 255, 255, 0.85);
			}
		}
	}
	.void {
		cursor: pointer;
		padding: 0;
		transition: .3s ease-in-out;
		.color {
			background-color: rgba(0, 207, 207, 0);
			width: 100%;
			height: 341px;
			z-index: 100;
			position: absolute;
			transition: .5s ease-in-out;
		}
		img {
			width: 100%;
			position: relative;
			z-index: 1;
		}
		.txt-block {
			margin-left: 350px;
			position: absolute;
			z-index: 1000;
			width: 375px;
			margin-top: -69px;
			transition: .5s ease-in-out;
			h1 {
				color: rgba(226, 43, 8, 0.65);
				font-size: 10em;
			}
			h3 {
				padding-top: 33px;
				font-size: 3.2em;
				padding: 33px 0 5px 50px;
			}
			h5 {
				padding-left: 50px;
			}
			h1:last-of-type {
				margin-right: 0;
				margin-top: -88px;
			}
			h1, h3, h5 {
				transition: .5s ease-in-out;
			}
		}
	}
	.void:hover {
		a {
			.color {
				background-color: rgba(226, 43, 8, 0.15);
			}
			.txt-block {
				margin-left: 280px;
				margin-top: -70px;
				h1 {
					color: rgba(226, 43, 8, 0.9);
				}
				h3, h5 {
					color: black;
				}
			}
		}
	}
	.stew {
		img {
			width: 90%;
		}
	}
}
.absolute h1 {
	color: rgba(0, 207, 207, 0.4);
	font-family: Raleway;
	position: absolute;
	top: 20px;
	left: 60%;
	font-size: 16em;
	z-index: 1000;
}