.navbar {
  opacity: .9;
  border: none;
}
.navbar .navbar-header {
  background-color: rgba(255, 255, 255, 0.85);
}
.navbar .navbar-header a {
  color: rgb(255, 50, 19);
}
.navbar .navbar-header button {
  background-color: transparent;
  border: none;
}
.navbar .navbar-header button .icon-bar {
  background-color: rgb(255, 50, 19);
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}
.navbar .navbar-header .navbar-toggle {
  background-color: transparent;
  border: none;
}
.navbar .navbar-header button:hover {
  background-color: transparent;
}
.navbar .navbar-header button:hover .icon-bar {
  opacity: .5;
}
.navbar .navbar-collapse {
  font-size: 1.4em;
}
.navbar-collapse .navbar-nav>li>a {
  color: rgb(255, 50, 19);
  transition: .3s ease-in-out;
}
.navbar-collapse .navbar-nav>li>a:hover {
  color: rgba(255, 50, 19, 0.5);
}
.navbar .navbar-collapse button {
  background-color: transparent;
  border: transparent;
  border-radius: 0;
  color: rgb(255, 50, 19);
}
#main-nav {
  background-color: transparent;
}
.navbar .container-fluid {
  background-color: rgba(255, 255, 255, 0.85);
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 400px;
}
.navbar .dropdown:focus {
  outline: none;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .open>.dropdown-toggle.btn-default {
  background-color: transparent !important;
  color: rgb(255, 50, 19) !important;
  box-shadow: none;
  outline: none;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: rgb(255, 50, 19);
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: rgb(255, 50, 19);
}

/* SECONDARY NAVIGATION */

.secondary-nav {
  background-color: rgb(252, 252, 252);
  height: 85px;
}
.secondary-nav:after {
  clear: both;
  width: 100%;
  content: '';
  display: block;
}

.secondary-nav .links {
  font-size: 1.2em;
}

.secondary-nav .links a {
  padding-right: 20%;
  color: #FF4E34;
}
.secondary-nav .links a:last-of-type {
  padding-right: 0;
}
.secondary-nav .links a:hover {
  color: rgb(255, 50, 19);
  text-decoration: none;
}

.secondary-nav .links .dropdown button {
  color: rgb(255, 50, 19);
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1em;
  padding-right: 20%;
  float: left;
}

.secondary-nav .links .dropdown button:focus {
  background-color: transparent;
}

.secondary-nav .links .dropdown .dropdown-menu {
  margin-top: 20px;
  background-color: white;
  border-radius: 0;
}

.secondary-nav .links .dropdown .dropdown-menu a {
  color: rgba(255, 50, 19, 0.75);
}

.secondary-nav .links .dropdown .dropdown-menu li {
  padding-bottom: 10px;
}
.secondary-nav .navbar-brand {
  height: 30px;
  text-align: left;
  padding: 20px 0 30px 0;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: rgb(255, 50, 19);
}

@media screen and (min-width: 640px) {
  .navbar .navbar-header {
    background-color: transparent;
  }
  .navbar .navbar-collapse ul {
    padding: 0 20px;
    text-align: right;
  }
  .secondary-nav .links {
    padding-top: 20px;
  }
  .secondary-nav .name {
    margin-left: 20px;
  }
  .secondary-nav .navbar-brand {
    padding: 0;
  }
  .secondary-nav .links .dropdown button {
    margin-left: 9%;
  }
  #main-nav .navbar-brand {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .secondary-nav {
    height: 60px;
  }
  .navbar .navbar-collapse .navbar-nav {
    width: 300px;
  }
  .navbar .navbar-collapse .navbar-nav a {
    color: rgb(255, 50, 19);
  }
  .navbar .navbar-collapse .navbar-nav p {
    font-size: 1.2em;
  }
  .navbar-collapse .navbar-nav>li>a:hover {
    color: rgb(255, 50, 19, 0.5);
  }
  .navbar .navbar-collapse .dropdown button {
    color: rgb(255, 50, 19);
    background-color: transparent;
    padding: 0 15px 0 0;
    margin-top: 15px;
    float: left;
    border: none;
    font-size: 1em;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
  }
  .navbar .navbar-collapse .dropdown button:focus {
    background-color: transparent;
  }
  .navbar .navbar-collapse .dropdown button:active {
    box-shadow: none;
    color: rgba(255, 50, 19, 0.5)!important;
  }
  .navbar .navbar-collapse .dropdown button:hover {
    background-color: transparent;
    color: rgba(255, 50, 19, 0.5);
  }
  .navbar .navbar-collapse .dropdown .dropdown-menu {
    margin: 40px 155px 0 0;
    background-color: white;
    border-radius: 0;
    padding: 10px 0;
    text-align: left;
  }
  .navbar .navbar-collapse li {
    padding-bottom: 5px;
  }
  .navbar .navbar-collapse li a {
    color: rgba(255, 50, 19, 0.75);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
  }
  .navbar .navbar-collapse li:hover a {
    color: rgba(255, 50, 19, 0.5);
  }
  .secondary-nav .name p {
    font-size: 1.2em;
  }
}