.parallax-window {
  height: 400px;
  padding-top: 300px;
}

.parallax-window .circle {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  margin: -200px auto 0 auto;
  color: white;
  padding: 65px 0 0 30px;
  background-color: rgba(255, 78, 52, 0.85);
}

.parallax-window .circle h2 {
  padding-bottom: 5px;
}

.parallax-mirror {
  height: 500px !important;
  margin-top: -100px;
}

.parallax-mirror img {
  margin-top: 100px;
}

.text-block {
  margin-top: 25px;
  margin-bottom: 25px;
  clear: both;
}

.text-block h3 {
  color: #4f4f4f;
  text-align: center;
}

.text-block p {
  font-family: Lato;
}

.text-block a {
  color: rgb(255, 50, 19);
  transition: .3s ease-in-out;
}

.text-block a:hover {
  opacity: .5;
}

.image-full {
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-full img {
  width: 100%;
}

.last-image {
  padding-bottom: 50px;
}

#sideMenu {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 1;
  padding: 20px 30px;
  box-shadow: rgba(84, 84, 84, 0.2) 0px 0px 10px;
  height: 85px;
  left: 0;
  z-index: 10000;
}

#sideMenu hr {
  margin: 5px 0 10px 0;
}

#sideMenu p {
  float: left;
}

#sideMenu p a {
  color: #333;
  transition: .3s ease-in-out;
  font-size: 1em;
}

#sideMenu p a i {
  color: transparent;
  transition: .3s ease-in-out;
  margin-left: 15px;
}

#sideMenu p a:hover {
  text-decoration: none;
  color: rgb(255, 50, 19);
}

#sideMenu .active a {
  color: rgb(255, 50, 19);
}

#sideMenu .active a i {
  color: #333;
}

.bottom-navigation {
  padding-bottom: 50px;
  font-size: 1.4em;
  clear: both;
}

.bottom-navigation a {
  color: rgb(255, 50, 19);
  transition: .3s ease-in-out;
}

.bottom-navigation a img {
  width: 30px;
  margin: 10px;
}

.bottom-navigation a:first-of-type {
  float: left;
}

.bottom-navigation a:last-of-type {
  float: right;
}

.bottom-navigation a:after {
  clear: both;
  width: 100%;
  content: '';
  display: block;
}

@media screen and (min-width: 640px) {
  .text-block h3 {
    padding: 50px 0 15px 0;
  }
  .text-block p {
    width: 75%;
    margin: 0 auto;
  }
  #sideMenu {
    width: 50%;
    left: 25%;
  }
  #sideMenu a:focus {
    text-decoration: none;
  }
}

@media screen and (min-width: 992px) {
  .text-block {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #sideMenu {
    width: 35%;
    left: 32.5%;
  }
  .bottom-navigation a:hover {
    opacity: .5;
    text-decoration: none;
  }
  .parallax-mirror {
    margin-top: 0;
    height: 400px !important;
  }
}

@media screen and (min-width: 1200px) {
  .parallax-window {
    height: 550px;
  }
  .parallax-window .circle {
    width: 300px;
    height: 300px;
    margin: -175px auto 0 auto;
    padding: 100px 0 0 50px;
  }
  .parallax-window .circle h2 {
    padding-bottom: 10px;
  }
  .parallax-mirror {
    height: 550px !important;
  }
  #sideMenu {
    width: 30%;
    left: 35%;
  }
}

@media screen and (min-width: 1400px) {
  .image-full {
    margin-bottom: 75px;
  }
  .text-block {
    margin-bottom: 100px;
  }
  .bottom-navigation {
    font-size: 1.8em;
    padding: 0 100px 50px 100px;
  }
}

.pdf img {
  position: static;
  z-index: 1;
}

.pdf h5 {
  text-align: center;
  color: rgb(255, 50, 19);
  position: relative;
  padding: 10px;
  text-decoration: underline;
  z-index: 100;
}


.question h1 {
  font-size: 6em;
  color: #FAD168;
  margin: -100px 0 0 200px;
  text-shadow:
    -1px -1px 0 #E6472C,  
    1px -1px 0 #E6472C,
    -1px 1px 0 #E6472C,
    1px 1px 0 #E6472C;
    line-height: 1.3em;
}
.question .lg-green {
  color: #2be275;
  opacity: .5;
  font-size: 10em;
  font-weight: bold;
}

#second, #third {
  padding: 0;
}
#second h3 {
  padding: 50px 0 15px 0;
}