<!--<div class="parallax-mirror" style="z-index: -100; position: fixed; overflow: hidden; transform: translate3d(0px, 0px, 0px); visibility: hidden; top: 3698px; left: 0px; height: 583px; width: 895px;">
	<img class="parallax-slider" src="./gradient.png" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -2998.4px; left: 0px; height: 910px; width: 895px; max-width: none;">
</div>
<div class="jumbo midheight fluid-container bg-home parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="./gradient.png" data-natural-width="1400" data-natural-height="900" style="height: 563px;">
    <div id="blackOverlay">
        hello
        <h1>Hello my name is Sarah</h1>
		<p>I make Rails apps.</p>
    </div>
</div>
<section>
	<div id="select" style="height:1000px;">
	    <div class="container">
			<p>Lot's of text here</p>
	    </div>
	</div>
</section>-->
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/gradient.png">
    <div id="blackOverlay">
        <h1 class="type-xl">Design is:</h1>
        <h1 class="type-xl">experiences</h1>
        <h3>Through design I here is some placeholder text that may bleed over to a second line</h3>
    </div>
</div>
<div class="container">
    <p>As a designer, devloper, and dreamer, I aim to blah blah blah some more text here. Probably a second line but no more than that.</p>
</div>
<div class-"container">
    <div class="col-lg-6" style="padding:0">
        <div class="col-lg-6 block-sm hi">
            <div class="block-text">
                <h5>PROPOSAL + PRINT</h5>
                <h3>Hi</h3>
                <a href="/hi">
                    <h5>VIEW PROJECT</h5>
                </a>
            </div>
        </div>
        <div class="col-lg-6 block-sm de">
            <div class="block-text">
                <h5>EHBITION + PRINT</h5>
                <h3>Design Matters</h3>
                <a href="/designmatters">
                    <h5>VIEW PROJECT</h5>
                </a>
            </div>
        </div>
        <div class="col-lg-6 block-sm sp">
            <div class="block-text">
                <h5>PRODUCT</h5>
                <h3>Spread</h3>
                <a href="/spread">
                    <h5>VIEW PROJECT</h5>
                </a>
            </div>
        </div>
        <div class="col-lg-6 block-sm vo">
            <div class="block-text">
                <h5>EHBITION + WEB</h5>
                <h3>VOID</h3>
                <a href="/void">
                    <h5>VIEW PROJECT</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 block-lg el">
        <div class="block-text">
            <h5>MOBILE + GAMING</h5>
            <h3>Electrocuties</h3>
            <a href="/electrocuties">
                <h5>VIEW PROJECT</h5>
            </a>
        </div>
    </div>
</div>
