<div class="hero">
	<div class="container-fluid hero-succulent">
	<h1>Here would go a title</h1>
	</div>
</div>

<div class="home container" style="padding:0 100px;">
	<div class="col-xs-1" style="height:100px;background-color:black;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:gray;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:black;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:gray;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:black;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:gray;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:black;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:gray;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:black;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:gray;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:black;">
	</div>
	<div class="col-xs-1" style="height:100px;background-color:gray;">
	</div>
	<div class="col-lg-5 col-lg-offset-1">
		<img src="/assets/electrocuties.png" style="width:100%;"/>
	</div>
	<div class="col-lg-4 col-lg-offset-1">
		<img src="/assets/design_matters_4.png" style="width:100%;"/>
	</div>
	<div class="col-lg-4 col-lg-offset-2">
		<img src="/assets/hi-white.png" style="width:100%;"/>
	</div>
	<div class="col-lg-6">
		<img src="/assets/spread_4.png" style="width:100%;"/>
	</div>
	<div class="col-lg-5">
		<img src="/assets/512stew-home.png" style="width:100%;"/>
	</div>
</div>
<div class="absolute">
	<h1>WORK</h1>
</div>
<div class="home container" style="padding:125px 0 ;margin:0;">
	<div class="col-lg-4 spread"  style="margin-top:75px;">
		<div class="color">
			<img src="/assets/spread_4.png"/>
		</div>
		<div class="txt-block">
			<h3>SPREAD</h3>
			<h5>Product</h5>
		</div>
	</div>
	<div class="col-lg-5 col-lg-offset-1 void">
		<a href="/designmatters">
			<div class="color">
			</div>
			<img src="/assets/design_matters_4.png"/>
			<div class="txt-block">
				<h1 style="float:left">[</h1>
				<h3>DESIGN MATTERS</h3>
				<h5>Exhibition + Print</h5>
				<h1 style="float:right">]</h1>
			</div>
		</a>
	</div>
	<div class="col-lg-5 col-lg-offset-1 stew" style="margin-top:50px;">
		<img src="/assets/512stew-home.png"/>
		<h3>512Stew</h3>
		<h5>Print + Graphic</h5>
	</div>
	<div class="col-lg-4 col-lg-offset-2 stew" style="padding-top: 200px;">
		<img src="/assets/electrocuties.png"/>
		<h3>512Stew</h3>
		<h5>Print + Graphic</h5>
	</div>
</div>