html {
	height: 100%;
}
body {
	font-family: 'Lora', serif;
	font-size: 10px;
	background-color: #E3A089;
	background-image: url('squiggles.png');
	background-repeat: no-repeat;
	background-size: cover;
	/*--Green and yellow background background-position: -30px 20px;
	background-size: 1034px 1034px;--*/
	/*--Blue background background-position: -40px 100px;
	background-size: 834px 734px;--*/
	background-position: -30px 20px;
  	background-size: 1034px 1034px;
	background-attachment: fixed;
	color: #2C322C;
	font-weight: 700;
	margin: 0;
	height: 100vh;
}

/* Global typography styles*/
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 2em;
	margin: 0;
}
h3 {
	font-size: 1.8em;
	margin: 0;
}
a {
	color: #2C322C;
}
ul {
	list-style: none;
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	text-align: right;
}
li {
	display: inline;
	padding: 0 0 0 10px;
	font-size: .9em;
}
p {
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.4em;
}

/* Grid styles */
.row {
	margin-bottom: 50px;
}
.row:after {
	clear: both;
	display: block;
	width: 100%;
	content: '';
}
.col-xs-6 {
	width: 50%;
	float: left;
}
.col-xs-12 {
	width: 100%;
}

/* Header styles */
header {
	margin: 0 10px 0;
	padding-top: 10px;
	display: flex;
}
header h3 {
	font-size: 1.2em;
	line-height: 1.6em;
}
.logo-xs {
	text-decoration: none;
}
.logo-xs h3 {
	text-align: center;
	padding: 30px 0 50px 0;
	clear: both;
	font-size: 2em;
}
.logo-lg {
	display: none;
	text-decoration: none;
}

/* Main content styles */
.title {
	background-image: url('block-pink.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 275px;
	height: 80px;
	margin-top: 0;
	margin-left: 5%;
}
.title h1 {
	margin: 0;
	line-height: 1em;
	padding: 1em 0;
	text-align: center;
}
.info {
	width: 90%;
	margin-left: 5%;
	display: block;
	padding-top: 30px;
}
.info p {
	margin: 0;
}
.info a {
	font-weight: 700;
}
.item {
	width: 90%;
	margin-left: 5%;
	display: block;
	padding-top: 30px;
}
.item:last-of-type {
	padding-bottom: 50px;
}
.photo {
	display: none;
}
.photo img {
	display: none;
}

/* Footer styles */
footer p {
	font-size: 1em;
	text-align: center;
	margin-top: -25px;
	/*--Yellow color: #d2b254;--*/
	color: #bb6649;
	/*--green color: #526729;--*/
	/*--Blue color: #5791a5;--*/
	font-weight: 700;
	clear: both;
}

/* About page styles */
.about .item {
	padding-top: 0;
}
.about .social {
	float: left;
	margin-right: 20px;
}
.about .item:after {
	clear: both;
	content: '';
	width: 100%;
	display: block;
}

/* Past Weeks page styles*/
.rotate {
	width: 300px;
	padding-right: 290px;
	margin-left: -285px;
	text-align: right;
	font-size: 1.2em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.past-weeks .rotate p {
	font-weight: 700;
}
.past-weeks .row {
	margin-bottom: 0;
}
.past-weeks .item {
	margin-left: 18%;
	width: 75%;
}

@media screen and (min-width: 500px) {
	/* Main content styles */
	.title {
		margin-left: 10%;
	}
	.info {
		width: 400px;
	}
	.item, .info {
		margin-left: 20%;
	}
}
@media screen and (min-width: 678px) {
	body {
		margin: 0 0 60px 0;
	}

	/* Global typography styles*/
	h2 {
		font-size: 2.4em;
		margin: 5px 0 0 0;
	}
	p {
		font-size: 1.8em;
		line-height: 1.6em;
	}
	li {
		font-size: 1.2em;
		padding: 0 10px;
	}

	/* Grid styles */
	.col-md-4 {
		width: 33.333333%;
		float: left;
	}
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-6:after {
		width: 100%;
		clear: both;
		content: '';
		display: block;
	}
	.col-md-8 {
		width: 66.666666%;
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.hidden-md {
		display: none;
	}

	/* Header styles */
	header {
		margin: 0 20px 0;
		height: 25px;
		padding-top: 25px;
	}
	header h3 {
		font-size: 1.6em;
	}
	.logo-xs {
		display: none;
	}
	.logo-lg {
		display: inline;
	}

	/* Main content styles */
	.content {
		margin-top: 50px;
	}
	.title {
		margin-left: 5%;
		width: 350px;
		height: 100px;
		margin-top: 100px;
	}
	.title h1 {
		font-size: 2.6em;
		line-height: 1.2em;
	}
	.info {
		width: 600px;
	}
	.item {
		margin-left: 15%;
		width: 500px;
	}
	.photo {
		display: flex;
		justify-content: flex-end;
		padding: 0 15px 0 75px;
		margin-top: 120%;
	}
	.photo img {
		width: 100%;
		display: block;
	}

	/* About page styles*/
	.title, .about .title {
		margin-top: 75px;
	}
	/about .item {
		width: 600px;
	}

	/* Past Weeks page styles */
	.past-weeks .photo {
		display: none;
	}

}
@media screen and (min-width: 1024px) {
	body {
		/*-- Green background background-position: 320px -260px;
		background-size: 1142px 1142px; --*/
		background-position: 470px -50px;
		background-size: 1052px 882px;
		margin: 0;
	}
	header  {
		align-self: baseline;
	}

	/* Grid styles */
	.col-lg-6 {
		width: 50%;
		float: left;
	}
	.col-lg-8 {
		width: 66.666666%;
	}
	.col-lg-offset-1 {
		margin-left: 8.333333%;
	}

	/* Main content styles */
	.title {
		margin-left: 15%;
		margin-top: 175px;
		margin-bottom: 25px;
	}
	.content {
		display: flex;
		align-items: center;
		margin-top: -55px;
		height: 100vh;
	}
	.photo {
		padding: 0;
		margin-top: 0;
	}
	.photo img {
		width: 400px;
		margin-right: 75px;
		margin-left: auto;
	}
	.item {
		margin-left: 25%;
	}
	.info {
		width: 425px;
		margin-left: 25%;
		padding-top: 10px;
	}
	.info p {
		margin: 0;
		font-size: 1.6em;
		line-height: 1.4em;
	}

	/* About page styles */
	.about .item {
		width: 700px;
		padding-top: 0;
	}
	.about .social {
		font-size: .8em;
	}

	/* Past Weeks page styles */
	.past-weeks {
		width: 100%;
		display: block;
		padding-top: 100px;
	}
	.rotate {
		padding-right: 375px;
		margin-left: -330px;
		width: auto;
	}
	.past-weeks .title {
		margin-top: 0;
	}
	.past-weeks .item {
		margin-left: 30%;
	}
	.past-weeks .photo {
		display: block;
	}
	.past-weeks .photo img {
		width: 300px;
	}
	.past-weeks .row {
		margin-top: 50px;
	}
}
@media screen and (min-width: 1200px) {
	/* Main content styles */
	.photo img {
		margin-right: 100px;
	}
	.info {
		width: 475px;
	}
}
