html {
	height: 100%;
}
body {
	font-family: 'Lora', serif;
	font-size: 10px;
	background-color: #9CAA81;
	background-image: url('grid.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -30px 20px;
	background-size: 1034px 1034px;
	color: #2C322C;
	font-weight: 700;
	margin: 0 0 60px 0;
	height: 100vh;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 2em;
	margin: 0;
}
h3 {
	font-size: 1.8em;
	margin: 0;
}
header {
	margin: 0 10px 0;
	padding-top: 10px;
	display: flex;
}
header h3 {
	font-size: 1.2em;
	line-height: 1.6em;
}
a {
	color: #2C322C;
}
ul {
	list-style: none;
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	text-align: right;
}
li {
	display: inline;
	padding: 0 0 0 10px;
	font-size: .9em;
}
p {
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.4em;
}
.col-xs-6 {
	width: 50%;
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.logo-xs {
	text-decoration: none;
}
.logo-xs h3 {
	text-align: center;
	padding: 30px 0 75px 0;
	clear: both;
	font-size: 2em;
}
.logo-lg {
	display: none;
	text-decoration: none;
}
.about {
	padding: 50px 20px;
}
.about img {
	display: block;
	width: 250px;
}
.title {
	background-image: url('block.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 275px;
	height: 80px;
	margin-left: 5%;
}
.title h1 {
	margin: 0;
	line-height: 1em;
	padding: 1em 0;
	text-align: center;
}
.item {
	width: 310px;
	margin-left: 5%;
	display: block;
	padding-top: 30px;
}
.photo {
	display: none;
}
img {
	display: none;
}
.past-weeks, .about {
	display: block;
	margin-top: 0;
}
.title {
	margin-top: 0px;
	margin-left: 5%;
}
.item {
	width: 90%;
}
.week h1 {
	font-size: 2.8em;
	margin-bottom: 0;
}
.row {
	margin-bottom: 50px;
}
.row:after {
	clear: both;
	display: block;
	width: 100%;
	content: '';
}
.info {
	width: 90%;
	margin-left: 5%;
	display: block;
	padding-top: 30px;
}
.info p {
	margin: 0;
}
.info a {
	font-weight: 700;
}
.item:last-of-type {
	padding-bottom: 50px;
}
#about .title {
	margin-top: 50px;
}
#about .item {
	padding-top: 0;
}
@media screen and (min-width: 500px) {
	.title {
		margin-left: 10%;
	}
	.item, .info {
		margin-left: 20%;
	}
	.info {
		width: 400px;
	}
}
@media screen and (min-width: 678px) {
	h2 {
		font-size: 2.4em;
		margin: 5px 0 0 0;
	}
	p {
		font-size: 1.8em;
		line-height: 1.6em;
	}
	.logo-xs {
		display: none;
	}
	.logo-lg {
		display: inline;
	}
	.content {
		margin-top: 50px;
	}
	.about {
		padding: 0 0 0 50px;
	}
	.about img {
		width: 325px;
		margin-bottom: 25px;
	}
	.photo {
		display: flex;
		justify-content: flex-end;
		padding: 0 15px 0 75px;
		margin-top: 120%;
	}
	header {
		margin: 0 20px 0;
		height: 25px;
		padding-top: 25px;
	}
	header h3 {
		font-size: 1.6em;
	}
	.title {
		margin-left: 5%;
		width: 350px;
		height: 100px;
		margin-top: 100px;
	}
	.title h1 {
		font-size: 2.6em;
		line-height: 1.2em;
	}
	.item {
		margin-left: 15%;
		width: 500px;
	}
	li {
		font-size: 1.2em;
		padding: 0 10px;
	}
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-8 {
		width: 66.666666%;
		float: left;
	}
	.col-md-4 {
		width: 33.333333%;
		float: left;
	}
	img {
		width: 100%;
		display: block;
	}
	.hidden-md {
		display: none;
	}
	.title, #about .title {
		margin-top: 75px;
	}
	#about .item {
		width: 600px;
	}
	.past-weeks img {
		width: 260px;
		margin: 40px 25px 0 auto;
	}
	.info {
		width: 600px;
	}
}
@media screen and (min-width: 1024px) {
	body {
		background-position: 320px -260px;
		background-size: 1142px 1142px;
		margin: 0;
	}
	header  {
		align-self: baseline;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-8 {
		width: 66.666666%;
	}
	.col-lg-offset-1 {
		margin-left: 8.333333%;
	}
	.title {
		margin-left: 15%;
		margin-top: 175px;
		margin-bottom: 25px;
	}
	.content {
		display: flex;
		align-items: center;
		margin-top: -55px;
		height: 100vh;
	}
	#about .item {
		width: 700px;
		padding-top: 0;
	}
	.photo {
		padding: 0;
		margin-top: 0;
	}
	.photo img {
		width: 400px;
		margin-right: 75px;
	}
	.past-weeks {
		display: block;
		margin-top: 50px;
		padding-bottom: 50px;
		height: auto;
	}
	.past-weeks img {
		margin: 40px 100px 0 auto;
	}
	.item {
		margin-left: 25%;
	}
	.info {
		width: 425px;
		margin-left: 25%;
		padding-top: 10px;
	}
	.info p {
		margin: 0;
		font-size: 1.6em;
		line-height: 1.4em;
	}
}
@media screen and (min-width: 1200px) {
	.photo img {
		margin-right: 100px;
	}
	.info {
		width: 475px;
		padding-top: 15px;
	}
}
